.vscode/**
.vscode-test/**
.arc*
.gitmodules
.pinterest-linters/
out/**
node_modules/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.md
**/*.txt
**/*.vsix
TODO
NOTES
**/*.sh
